.mainContainer {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    width: 1150px;
    height: 600px;
    display: flex;
}

.container-board {
    width: 60%;
    height: 100%;
}

.container-game {
    width: 40%;
    height: 100%;
}

.container {
    display: flex;
}

.square {
    width: 70px;
    height: 70px;
    border-width: 0px;
    color: transparent;
    font-weight: 800;
}

.square--even {
    background-color: rgba(241,241,219,255);
}

.square--odd {
    background-color: rgba(145,171,120,255);
}

#btn-timer {
    color: white;
    border-width: 0px;
    background-color: rgba(127,166,80,255);
    width: 120px;
    height: 40px;
    font-family: 'Arial';
    font-weight: 800;
}

#h1, #h3, #h5, #h7, #g8, #e8, #c8, #a8 {
    color: rgba(145,171,120,255);
}

#h2, #h4, #h6, #h8, #f8, #d8, #b8 {
    color: rgba(241,241,219,255);
}