.mainContainer {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    width: 1150px;
    height: 600px;
    display: flex;
}

.container-board {
    width: 60%;
    height: 100%;
}

.container-game {
    width: 40%;
    height: 100%;
}

.game {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
}

.container-game {
    display: flex;
    flex-direction: column;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    width: 70px;
    height: 70px;
    border-width: 0px;
    color: transparent;
}

.square--even {
    background-color: rgba(241,241,219,255);
}

.square--odd {
    background-color: rgba(145,171,120,255);
}